.answers {
  margin-top: 126px;
  &__inner {
    padding-left: 100px;
  }
  &__text {
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #1f1e1e;
  }
  &__title {
    padding-top: 16px;
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 51px;
    line-height: 56px;
    color: #1f1e1e;
  }
  &__box {
    margin: 35px 100px 0 360px;
    max-height: 280px;
    max-width: 720px;
  }
  &__flex {
    margin: 0;
    padding: 25.7px 0 27.2px 0;
    border-bottom: 1px solid #0000001f;
    max-width: 720.38px;
    max-height: 80px;
    display: flex;
    list-style: none;
  }
  &__link1 {
    padding: 6px 8px 0 0;
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #1f1e1e;
  }
  &__link2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0.4px;
    color: #1f1e1e;
  }
  &__link3 {
    padding-left: 344px;
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #1f1e1e;
  }
  &__link4 {
    padding-left: 304px;
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #1f1e1e;
  }
  &__link5 {
    padding-left: 245px;
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #1f1e1e;
  }
  &__toggle {
    margin: 22.8px 0 8px 563px;
    background: #1f1e1e;
    border-radius: 4px;
    padding: 13px 30px 17px 30px;
  }
  &__link {
    margin: 0;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__text1 {
    padding-left: 545px;
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    color: #1f1e1e;
  }
}
