.header {
  background-color: #f6f7f1;
  &__inner {
    padding: 0 97px 0 100px;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    margin: 0;
    padding: 37px 0 30px 0;
  }
  &__nav {
    padding: 32px 0;
  }
  &__menu {
    margin: 0;
    display: flex;
  }
  &__item {
    padding-left: 40px;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    text-transform: uppercase;
    color: #1f1e1e;
  }
  &__item-svg {
    padding-left: 20px;
    list-style: none;
  }
}
